<section class="py-5 container">
    <div class="row py-lg-5">
        <div class="col-lg-12 text-center" style="display: inline-block; float: none;">
            <h1 class="fw-light">CONTACTO</h1>
            <p class="lead text-muted">Para entrar em contacto, por favor preencha o formulário abaixo.</p>
        </div>

        <div> 
                        
            <%= render "form", url:"/contactos/cadastrar", action:"", contacto:Contacto.new %>

        </div>
    </div>

</section>