<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto" style="display: inline-block; float: none;">
        <h1 class="fw-light">SOBRE</h1>
        <p class="lead text-muted">Treinamento Ruby on Rails oferecido pela PagaSó bem como objectivo capacitar indivios que visam dar suporte a sua plataforma.</p>
        <p hidden>
          <a href="/contactos" class="btn btn-primary my-2">Contactos</a>
          <a href="/sobre" class="btn btn-secondary my-2">Sobre</a>
        </p>
      </div>
    </div>
</section>